.example-card {
  max-width: 200px;
  margin: 1em;
  display: inline-block;
}

.example-header-image {
  background-image: url("https://epublic.s3-sa-east-1.amazonaws.com/josuevg/logo_mnoticias.svg");
  background-size: cover;
}

.nenergizante-header-image {
  background-image: url("https://scontent.ftru2-2.fna.fbcdn.net/v/t1.0-9/94854657_703187157148916_4414867548655321088_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=qLw_O-6EdUYAX9qXsfE&_nc_ht=scontent.ftru2-2.fna&oh=265e283f29a9ea7db52fcec5ba06ebee&oe=604650F1");
  background-size: cover;
}

.amdj-header-image {
  background-image: url("https://scontent.ftru2-2.fna.fbcdn.net/v/t1.0-9/118079821_786217418797405_7725474246768994551_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=p0bs9ZcvKEUAX-3zffE&_nc_ht=scontent.ftru2-2.fna&oh=078eec3cbd23792b55de29373969f3be&oe=604390CA");
  background-size: cover;
}

.networker-header-image {
  background-image: url("https://scontent.ftru2-2.fna.fbcdn.net/v/t1.0-9/123618678_390898455654447_944553652161607090_o.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=Kl5JJU8hW3EAX-0Ape4&_nc_ht=scontent.ftru2-2.fna&oh=316a4f4913c9656a032638311e2248a1&oe=6043184A");
  background-size: cover;
}

.amdj-header-image {
  background-image: url("https://scontent.ftru2-2.fna.fbcdn.net/v/t1.0-9/118079821_786217418797405_7725474246768994551_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=p0bs9ZcvKEUAX-3zffE&_nc_ht=scontent.ftru2-2.fna&oh=078eec3cbd23792b55de29373969f3be&oe=604390CA");
  background-size: cover;
}
